@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}
 

body{
    font-family: 'Poppins', sans-serif;


    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;

}
h2{
    font-size: 2.0rem;

}
h3{
    font-size: 1.5rem;

}
p{
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    color:var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline:  var(--padding-inline-section);
}
.flex{
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
}
/*top banner styles*/
.top-banner{
    background-color:#4fb3d4;
    background-image: url(assets/asset_32.png);
    background-size: 300px;
}
    
.banner-text{
    color: #fff;
    font-size: 0.75rem;
    text-align: center;
    padding: 15px 0;
}

/*navbar styles*/
.main-nav{
    margin-top: 20px;
    justify-content: space-between;

}
    
.logo img{
    width: 200px;
}

.nav-links {
    flex-basis:730px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}
.hover-link{
    text-transform: capitalize;
    color: var(--accent-color-dark);
    transition: .2s ease-out;
}
.hover-link:hover{
    color: var(--accent-color);
}   

.primary-btn{
    background-color: var(--accent-color);
    color: #fff !important;
    border-radius: 6px;
    font-weight: 700;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: .2s ease-in-out;
   
}
.primary-btn:hover{
    background-color: var(--accent-color-dark);
}

.secondary-btn{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    padding: 12px 24px;
    color: var(--primary-text-color) !important;
    font-weight: 700;
    transition: .2s ease-in-out;  
}
.secondary-btn:hover{
    background-color: var(--accent-color);
    color:var(--accent-color)!important;
}

/*header section */
header{
    padding: 50px var(--padding-inline-section);
}
.header-section{
    justify-content: center;
    gap: 50px;
}

.header-left{
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: center;
}

.header-right img{
    width: 100%;
}

